{{> header }}
<span class="preheader">les logs journaliers de Nominis</span>
<h1>{{{greetingByGender ""}}}</h1>
<h2>Les logs journaliers de Nominis</h2>
<p>Vous trouvez joint à cet email les logs journaliers du {{timestamp}} du backend de Nominis.</p>
<p>Si vous pensez que c’est un email erroné, veillez contacter le support commercial sur support@nominis.ca si vous avez
des questions.</p>
{{> footer }}