{{> header }}
<span class="preheader">Les informations de votre société, {{company}}, ont été mise à jour</span>
<h1>{{{greetingByGender ""}}}</h1>
<h2>Les informations de votre société, {{company}}, ont été mise à jour</h2>
<p>Suite à votre demande, les informations de la société X sont modifiées par notre administration.</p>
<p>Connectez-vous dès maintenant sur la plateforme Nominis :</p>
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
        <tr>
          <td align="center">
            <a href="{{link}}" class="f-fallback button" target="_blank">Plateforme Nominis</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p>Si vous pensez que c’est un email erroné, veillez contacter le support commercial sur support@nominis.ca si vous avez
  des questions.</p>
{{> footer }}